## 2. Data Understanding
üìí `1.0-rc-data-understanding.ipynb`
- Carregamento do dataset bruto
- Vis√£o geral do schema (colunas, tipos, valores √∫nicos)
- Valores ausentes, outliers
- Distribui√ß√£o dos Dados
- Correla√ß√µes entre features e target (price)
- Gr√°ficos iniciais: histogramas, boxplots, heatmaps

### üìò Data Dictionary

About Dataset:This dataset contains around 13.000 apartments for sale and for rent in the city of S√£o Paulo, Brazil. The data comes from multiple sources, specially real estate classified websites.


|   id | Variable Name      | Role    | Type         | Descri√ß√£o                                                 |
|------|--------------------| --------| -------------|-----------------------------------------------------------|
|   00 | Price              | Target  | Num√©rica     | Valor mensal do aluguel do im√≥vel (em R$)                 |
|   01 | Condo              | Feature | Num√©rica     | Valor da taxa de condom√≠nio (em R$)                       |
|   02 | Size               | Feature | Num√©rica     | √Årea √∫til do im√≥vel em metros quadrados                   |
|   03 | Rooms              | Feature | Num√©rica     | N√∫mero de c√¥modos                                         |
|   04 | Toilets            | Feature | Num√©rica     | N√∫mero de banheiros                                       |
|   05 | Suites             | Feature | Num√©rica     | N√∫mero de su√≠tes                                          |
|   06 | Parking            | Feature | Num√©rica     | N√∫mero de vagas de garagem                                |
|   07 | Elevator           | Feature | Bin√°ria      | 1 se possui elevador, 0 caso contr√°rio                    |
|   08 | Furnished          | Feature | Bin√°ria      | 1 se o im√≥vel √© mobiliado, 0 caso contr√°rio               |
|   09 | Swimming Pool      | Feature | Bin√°ria      | 1 se possui piscina, 0 caso contr√°rio                     |
|   10 | New                | Feature | Bin√°ria      | 1 se o im√≥vel √© novo, 0 caso contr√°rio                    |
|   11 | District           | Feature | Categ√≥rica   | Nome do bairro e cidade onde o im√≥vel est√° localizado     |
|   12 | Negotiation Type   | Feature | Categ√≥rica   | Tipo de negocia√ß√£o (ex: aluguel ou venda)                 |
|   13 | Property Type      | Feature | Categ√≥rica   | Tipo de im√≥vel (ex: apartamento, casa)                    |
|   14 | Latitude           | Feature | Num√©rica     | Latitude geogr√°fica do im√≥vel                             |
|   15 | Longitude          | Feature | Num√©rica     | Longitude geogr√°fica do im√≥vel                            |

---

In [3]:
import pandas as pd
import numpy as np
#from _utils import carregar_dados

# Load the data
path = "../data/raw/sao-paulo-real-state.csv"
df = pd.read_csv(path)

# View the top 5 rows of the dataset
df.head()

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude
0,930,220,47,2,2,1,1,0,0,0,0,Artur Alvim/S√£o Paulo,rent,apartment,-23.543138,-46.479486
1,1000,148,45,2,2,1,1,0,0,0,0,Artur Alvim/S√£o Paulo,rent,apartment,-23.550239,-46.480718
2,1000,100,48,2,2,1,1,0,0,0,0,Artur Alvim/S√£o Paulo,rent,apartment,-23.542818,-46.485665
3,1000,200,48,2,2,1,1,0,0,0,0,Artur Alvim/S√£o Paulo,rent,apartment,-23.547171,-46.483014
4,1300,410,55,2,2,1,1,1,0,0,0,Artur Alvim/S√£o Paulo,rent,apartment,-23.525025,-46.482436

In [4]:
# View the dataset shape
print("N¬∫ Rows:", df.shape[0])
print("N¬∫ Cols:", df.shape[1])

N¬∫ Rows: 13640
N¬∫ Cols: 16

In [5]:
# Rename the columns name
cols_name = ["price", "condo", "size", "rooms", "toilets", 
               "suites", "parking", "elevator", "furnished", 
               "swim_pool", "new", "district", "negotiation_type", 
               "property_type", "lat", "long"
               ]

df.columns = cols_name
df.head()

,price,condo,size,rooms,toilets,suites,parking,elevator,furnished,swim_pool,new,district,negotiation_type,property_type,lat,long
0,930,220,47,2,2,1,1,0,0,0,0,Artur Alvim/S√£o Paulo,rent,apartment,-23.543138,-46.479486
1,1000,148,45,2,2,1,1,0,0,0,0,Artur Alvim/S√£o Paulo,rent,apartment,-23.550239,-46.480718
2,1000,100,48,2,2,1,1,0,0,0,0,Artur Alvim/S√£o Paulo,rent,apartment,-23.542818,-46.485665
3,1000,200,48,2,2,1,1,0,0,0,0,Artur Alvim/S√£o Paulo,rent,apartment,-23.547171,-46.483014
4,1300,410,55,2,2,1,1,1,0,0,0,Artur Alvim/S√£o Paulo,rent,apartment,-23.525025,-46.482436

In [6]:
# Checking the data type - ok
df.dtypes

price                 int64
condo                 int64
size                  int64
rooms                 int64
toilets               int64
suites                int64
parking               int64
elevator              int64
furnished             int64
swim_pool             int64
new                   int64
district             object
negotiation_type     object
property_type        object
lat                 float64
long                float64
dtype: object

In [7]:
# Checking the Null Values - ok
df.isnull().sum()

price               0
condo               0
size                0
rooms               0
toilets             0
suites              0
parking             0
elevator            0
furnished           0
swim_pool           0
new                 0
district            0
negotiation_type    0
property_type       0
lat                 0
long                0
dtype: int64

In [8]:
df.describe()

,price,condo,size,rooms,toilets,suites,parking,elevator,furnished,swim_pool,new,lat,long
count,1.364000e+04,13640.000000,13640.000000,13640.000000,13640.000000,13640.000000,13640.000000,13640.000000,13640.000000,13640.00000,13640.000000,13640.000000,13640.000000
mean,2.877378e+05,689.882331,84.373900,2.312023,2.073680,0.980792,1.393182,0.354179,0.146774,0.51217,0.015616,-22.077047,-43.597088
std,5.908214e+05,757.649363,58.435676,0.777461,0.961803,0.834891,0.829932,0.478281,0.353894,0.49987,0.123988,5.866633,11.487288
min,4.800000e+02,0.000000,30.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,-46.749039,-58.364352
25%,1.858750e+03,290.000000,50.000000,2.000000,2.000000,1.000000,1.000000,0.000000,0.000000,0.00000,0.000000,-23.594552,-46.681671
50%,8.100000e+03,500.000000,65.000000,2.000000,2.000000,1.000000,1.000000,0.000000,0.000000,1.00000,0.000000,-23.552813,-46.637255
75%,3.600000e+05,835.000000,94.000000,3.000000,2.000000,1.000000,2.000000,1.000000,0.000000,1.00000,0.000000,-23.517640,-46.560040
max,1.000000e+07,9500.000000,880.000000,10.000000,8.000000,6.000000,9.000000,1.000000,1.000000,1.00000,1.000000,0.000000,0.000000

In [11]:
for i, col in enumerate(df.columns): 
    unique_vals = df[col].unique()
    print(f"Name Col: {col}: \n Unique Values: {unique_vals[:10]} \n")

Name Col: price:
 Unique Values: [ 930 1000 1300 1170  900  760  800 1800 1600 1500]

Name Col: condo:
 Unique Values: [220 148 100 200 410   0 180 150 160 130]

Name Col: size:
 Unique Values: [ 47  45  48  55  50  52  40  65 100  38]

Name Col: rooms:
 Unique Values: [ 2  1  3  4  5 10  6  7]

Name Col: toilets:
 Unique Values: [2 3 4 1 5 6 7 8]

Name Col: suites:
 Unique Values: [1 3 2 4 0 5 6]

Name Col: parking:
 Unique Values: [1 2 3 4 5 6 8 9 0 7]

Name Col: elevator:
 Unique Values: [0 1]

Name Col: furnished:
 Unique Values: [0 1]

Name Col: swim_pool:
 Unique Values: [0 1]

Name Col: new:
 Unique Values: [0 1]

Name Col: district:
 Unique Values: ['Artur Alvim/S√£o Paulo' 'Bel√©m/S√£o Paulo' 'Canga√≠ba/S√£o Paulo'
 'Carr√£o/S√£o Paulo' 'Cidade L√≠der/S√£o Paulo' 'Cidade Tiradentes/S√£o Paulo'
 'Ermelino Matarazzo/S√£o Paulo' 'Iguatemi/S√£o Paulo'
 'Itaim Paulista/S√£o Paulo' 'Itaquera/S√£o Paulo']

Name Col: negotiation_type:
 Unique Values: ['rent' 'sale']

Name Col: property_type:
 Unique Values: ['apartment']

Name Col: lat:
 Unique Values: [-23.543138 -23.550239 -23.542818 -23.547171 -23.525025 -23.548751
 -23.54984  -23.53974  -23.55185  -23.545761]

Name Col: long:
 Unique Values: [-46.479486 -46.480718 -46.485665 -46.483014 -46.482436 -46.477195
 -46.484137 -46.49267  -46.491169 -46.479509]

In [23]:
df["negotiation_type"].unique()

array(['rent', 'sale'], dtype=object)

In [24]:
df["property_type"].unique()

array(['apartment'], dtype=object)

In [29]:
df["new"].unique()

array([0, 1])

In [34]:
numeric_cols = ["condo", "size", "rooms", "toilets", "suites", "price" ]

df[numeric_cols].corr()

KeyError: "None of [Index([('condo', 'size', 'rooms', 'toilets', 'suites', 'price')], dtype='object')] are in the [columns]"